.headerBar {

    background-color: rgb(236 89 70);
    color: white;
    text-align: right;
    width: 100%;
    height: 100px;
    text-decoration: none;
    font-size: 17px;
}

.ALBlogoSpec{
    padding-top: 30px;
    height: 120px;
    width: 120px;
    padding-inline-start: 30px;
    float: left;
}

