<div class="fieBrowseStyle">
    <h2>Invoice upload <i class="bi bi-info-circle-fill"></i> </h2>
    <input type="file" size="10" class="form-control" style="width: 20%; display: inline;"> &nbsp;
    <button type="button" class="btn btn-info" (click)="getParcelType()"> getParceltype</button> &nbsp;
    <button type="button" class="btn btn-secondary" (click)="uploadInvoice()" >

        upload Invoice
        
    </button> &nbsp;
    <button type="button" class="btn btn-primary" (click)="clearXMlData()">
        clear data
    </button> &nbsp;
   
</div>

<h1>{{xmlData}}</h1>



<!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" /> -->