/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;

    background: #667eea;
  /* background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5)); */
  background: linear-gradient(to left, rgba(185, 227, 229, 0.5), rgb(234, 233, 226))

}